<section class="header-single-article">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <img src="<%= article.coverImage %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text"><%= article.description %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg-light p-4">
                    <h3>Catégories</h3>
                    <div class="badge badge-success">
                        Catégorie 1
                    </div>
                    <div class="badge badge-success">
                        Catégorie 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>